/* Sets all the text color to red! */
.setting-item-control.fss-setting-control {
  width: 100% !important;
  display: grid;
  justify-content: space-between;
  align-items: start;
  column-gap: 20px;
}

.setting-item-control > .fss-meta { 
  display: flex;
  justify-content: space-between;
  grid-area: 1 / 1 / span 1 / span 2;
  text-align: left;
  padding-bottom: 12px;;
}

.setting-item-control > .fss-field {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.setting-item-control > .fss-values {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  row-gap: 10px;
}

.setting-item-control > .fss-values > .fss-values-value {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}